[submodule "3rd/lua"]
	path = 3rd/lua
	url = https://github.com/lua/lua.git
[submodule "3rd/lua-rapidjson"]
	path = 3rd/lua-rapidjson
	url = https://github.com/xpol/lua-rapidjson
[submodule "3rd/lpath"]
	path = 3rd/lpath
	url = https://github.com/starwing/lpath
